<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uca.ruiz.antonio.tfgapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_restheridapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_restheridapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/mi_tfg"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginConfigActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainSanitarioActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainPacienteActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CurasActivity"
            android:configChanges="orientation"
            android:label="@string/proceso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcesosActivity"
            android:configChanges="orientation"
            android:label="@string/paciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcesoNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/proceso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CuraNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/cura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagenesActivity"
            android:configChanges="orientation"
            android:label="@string/cura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.MainAdminActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.CentrosActivity"
            android:configChanges="orientation"
            android:label="@string/centros"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.CentroNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/centro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.CentroActivity"
            android:configChanges="orientation"
            android:label="@string/centro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SalasActivity"
            android:configChanges="orientation"
            android:label="@string/salas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SalaNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/sala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SalaActivity"
            android:configChanges="orientation"
            android:label="@string/sala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.GruposdiagnosticosActivity"
            android:configChanges="orientation"
            android:label="@string/grupos_diagnosticos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.GrupodiagnosticoNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/grupo_diagnostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.GrupodiagnosticoActivity"
            android:configChanges="orientation"
            android:label="@string/grupo_diagnostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.DiagnosticosActivity"
            android:configChanges="orientation"
            android:label="@string/diagnosticos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.DiagnosticoNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/diagnostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.DiagnosticoActivity"
            android:configChanges="orientation"
            android:label="@string/diagnostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.ProcedimientosActivity"
            android:configChanges="orientation"
            android:label="@string/procedimientos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.ProcedimientoNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/procedimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.ProcedimientoActivity"
            android:configChanges="orientation"
            android:label="@string/procedimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdministradoresActivity"
            android:configChanges="orientation"
            android:label="@string/administradores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdministradorNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/administrador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdministradorActivity"
            android:configChanges="orientation"
            android:label="@string/administrador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SanitariosActivity"
            android:configChanges="orientation"
            android:label="@string/sanitarios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SanitarioNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/sanitario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SanitarioActivity"
            android:configChanges="orientation"
            android:label="@string/sanitario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PacientesActivity"
            android:configChanges="orientation"
            android:label="@string/pacientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PacienteNewEditActivity"
            android:configChanges="orientation"
            android:label="@string/paciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PacienteActivity"
            android:configChanges="orientation"
            android:label="@string/paciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.ValoracionesResultsActivity"
            android:configChanges="orientation"
            android:label="@string/ranking_valoraciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.ValoracionesActivity"
            android:configChanges="orientation"
            android:label="@string/valoraciones_recientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagenNewActivity"
            android:configChanges="orientation"
            android:label="@string/imagen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagenActivity"
            android:configChanges="orientation"
            android:label="@string/imagen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.SalaConfigActivity"
            android:configChanges="orientation"
            android:label="@string/sala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CitacionesActivity"
            android:configChanges="orientation"
            android:label="@string/agenda_citas"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CitaActivity"
            android:configChanges="orientation"
            android:label="@string/cita"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CitacionesNewActivity"
            android:configChanges="orientation"
            android:label="@string/reservar_cita"
            android:screenOrientation="portrait"/>
    </application>

</manifest>