<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uca.ruiz.antonio.tfgapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CurasActivity"
            android:configChanges="orientation"
            android:label="@string/proceso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcesosActivity"
            android:configChanges="orientation"
            android:label="@string/paciente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcesoNuevoActivity"
            android:configChanges="orientation"
            android:label="@string/addproceso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProcesoEditarActivity"
            android:configChanges="orientation"
            android:label="@string/editproceso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CuraNuevaActivity"
            android:configChanges="orientation"
            android:label="@string/addcura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CuraEditarActivity"
            android:configChanges="orientation"
            android:label="@string/editcura"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ImagenesActivity"></activity>
    </application>

</manifest>